{erl_opts, [debug_info]}.
{deps, [cowboy]}.

{relx, [
    {release, {erlang_exercise, "0.1.0"}, [
        erlang_exercise,
        sasl
    ]},
    % {release, {erlang_exercise, "0.1.1"}, [
    %     sasl,
    %     erlang_exercise
    % ]},

    {mode, dev},

    %% automatically picked up if the files
    %% exist but can be set manually, which
    %% is required if the names aren't exactly
    %% sys.config and vm.args
    %%{sys_config, "./config/sys.config"},
    {vm_args, "./config/vm.args"},

    %% the .src form of the configuration files do
    %% not require setting RELX_REPLACE_OS_VARS
    {sys_config_src, "./config/sys.config.src"},
    %% {vm_args_src, "./config/vm.args.src"},

    {include_erts, false},
    {include_src, false},
    {check_for_undefined_functions, true},
    {system_libs, false},
    {extended_start_script, true}
]}.

{profiles, [
    {prod, [
        {relx,
            %% prod is the default mode when prod
            [
                {include_erts, true},
                %% profile is used, so does not have
                %% to be explicitly included like this
                % {mode, prod}

                %% use minimal mode to exclude ERTS
                {mode, minimal}
            ]}
    ]}
]}.

{project_plugins, [erlfmt]}.
{erlfmt, [
    write,
    {print_width, 100},
    {files, ["apps/*/{src,include,test}/*.{hrl,erl,app.src}", "rebar.config"]},
    {exclude_files, ["src/erlfmt_parse.erl"]}
]}.
